.container-fluid {
   display: block;
   height: auto;
   max-width: 100%;
}

.timerBarHolder{
    height: 300px;
    background-color: blue;
}

#topBumper{
    position: absolute;
    width: 100%;
    background-color: blue;
    z-index: 4
}
#mainRow{
    margin-top: 110px;
    /*position: relative;*/
    /*z-index: 1*/
}

.timerBar{
    width: 70px;
    height: 300px;
    background-color: green;
}

.image{
    display: block;
    height: 300px;
    width: auto;
    width: 400px;
    z-index: 1;
}
/*
#picHolder{
    width: 470px;
    background-color: blue;
}*/

#imageDiv{
    background-color: green;
    display: block;
    /*margin-left: 8%;
    margin-right: 20%;*/
    text-align: center;
}
/*.table td {
  align: center;
}*/

#tagHolder{
    margin-top: 70px;
    align: center;
    /*position: absolute;*/
}

#topBumper{
    height: 130px;
}

#tag-box{
    font-size: 60px;
    /*position: fixed*/
}
