.container-fluid {
   display: block;
   height: auto;
   max-width: 100%;
}


body {
    background-image: url("images/wood_panel_dark.jpg");

}

#containerDiv {
    background-image: url("images/woodpanel01.jpg");
    display: block;
    height: auto;
    margin: auto;
    max-width: 1080px;
}

#timerBarHolder{
    position: absolute;
    
    top: 5em;
    left: 15em;
    height: 360px;
    width: 108px;
    background-image: url("images/woodpanel02.jpg");
}

#scoreHolder {
    position: absolute;
    font-size: 125%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    top: 5em;
    right: 11em;
    height: 360px;
    width: 180px;
    background-image: url("images/wallpaperbg.jpg");
}

/*#topBumper{
    position: absolute;
    width: 100%;
    background-color: #f45642;
    z-index: 4
}*/
#mainRow{
    margin-top: 110px;
    /*position: relative;*/
    z-index: 1;
    margin-bottom: -82px;
    /*background-color: #f45642;*/
}

.bg{
    position: absolute;
    background-color: #f45642;
    width: 100%;
    height: auto;
    z-index: 4;
}

.timerBarHolder{
    /*position: absolute;*/
    margin-top: 102px;
    z-index: 5
}

.timerBar{
    margin-top: 2em;
    width: 70px;
    height: 300px;
    background-image: url("images/wallpaperbg.jpg");
}

#time {
    font-size: 150%;
    color: #4F4;
    background-color: #010;
}

.image{
    display: block;
    height: 300px;
    /*width: auto;*/
    width: 400px;
    z-index: 1;
}


#pic-container {
    padding-top: 4em;
    height: 100%;
}
#picHolder{
    
    width: 550px;
    height: 600px;
    padding: 1em 1em;
    background-image: url("images/woodpanel02.jpg");
}

#imageDiv{
    background-image: url("images/static.jpg");
    display: block;
    text-align: center;
}

#tagHolder{
    margin-top: 20px;
}

#topBumper{
    height: 130px;
}

#tag-box{
    font-size: 60px;
}

#score{
    margin-top: 140px;
}

.left{
    position: fixed;
    height: 100%;
    background-color: #f45642;
    top: 0;
    left: 0;
    width: 35%;
    z-index: 4;
}

.right{
    position: fixed;
    height: 100%;
    background-color: #f45642;
    top: 0;
    right: 0;
    width: 35%;
    z-index: 4;
}

#upperTV {
    position: relative;
    height:350px;
    widows: 100%;
    background-image: url("images/old-television_sm.png");
    z-index: 5;
}

#midTV {
    position: relative;
    margin-top: -320px;
    margin-left: -60px;
    width: 400px;
    height: 300px;
    
    z-index: 3;
}
#lowerTV {
    position: relative;
    margin-top: -320px;
    margin-left: -60px;
    width: 400px;
    height: 300px;
    background-image: url("images/indian-head-test-pattern.jpg");
}
#tvText {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 50px;
    z-index: 2;
    font-size: 200%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

